<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>CRUDSALES</title>
            <link rel='stylesheet' href='/css/style.css'>
            <link rel='stylesheet' href='/css/inserir.css'>
            <link rel='stylesheet' href='/css/select.css'>
        </head>

        <body>
            {{{body}}}

            <script src='/js/javascript.js'></script>
        </body>

    </html>