<div class = "container">
    <div id='banner'>
        <h2> Dados atualizados com sucesso!</h2>
    </div>
    
</div>

<div class="container">
        <div class="row text-center">
            <div id="menu">
                <ul>
                    <li><a href='/'>Retornar</a> </li>
                </ul>
            </div>

        </div>
    </div>
