<!-- hole body of "main" -->

<header>
    <div class="container">
				<img id="logotipo" src="../img/logo.png" alt="Logotipo">
	</div>

    <div class="container">
        
            <div id="banner">
                <h1>salescrud</h1>
                <h2><small>sessão de gerenciamento de clientes.</small></h2>
            </div>
        

    </div> 
     
</header>

<section>
    
    <div class="container">
        <div class="row text-center">
            <div id="menu">
                <ul>
                    <li><a href='inserir'>Inserir Cliente</a> </li>
                    <li><a href='select'>Selecionar Cliente</a></li>
                </ul>
            </div>

        </div>
    </div>

</section>





