<div class='card'>
    <form name ='formI' action ='controllerForm' method ='post'>
        <label for='id'> ID:</label>
        <input type='text' name = 'id' id='id' > <br>
        
        <label for='inputName'> Nome completo:</label>
        <input type='text' name = 'name' id='name'> <br>
        
        <label for='inputEmail'> E-mail:</label>
        <input type='text' name = 'email' id='email' > <br>
        
        <input type='submit' name = 'btnSubmit' id='btnSubmit' value ='Cadastrar'> <br>
    </form>

</div>