<form name='formU' action='/controllerUpdate' method='post'>
    <input type='hidden' name='id' id='id' placeholder='Id:' value='{{id}}'><br>
    <input type='text' name='name' id='name' placeholder='Name:' value='{{name}}'><br>
    <input type='text' name = 'email' id='email' placeholder ='email:' value='{{email}}'> <br>
   
    <input type='submit' name='btnSubmit' id='btnSubmit' value='Atualizar'><br>
</form>